.center{
    width: 100%;
    height: calc(100vh - 100px);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.mc{
    margin: 10px;
    width: 192px;
    height: 44px;
}

.mc2{
    margin: 100px;
    width: 292px;
    height: 54px; 
}